.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  border-radius: 5em;
  a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
  }
  a:hover {
    background-color: #ecaa76;
    border-radius: 0.2em;
    opacity: 0.8;
  }
}
