
body,
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.bg {
  background-image: url('/background.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//All Plant Table
.all-plant-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 14px;
  color: #333;

  .all-plant-row {
    border-bottom: 1px solid rgb(192, 191, 191);
    &:last-child {
      border-bottom: none;
    }
  }

  .all-plant-head {
    font-weight: bold;
    padding: 15px;
    &:first-child {
      text-align: left;
    }
  }

  .all-plant-data {
    width: auto;
    padding: 15px;
    &:nth-child(2) {
      text-align: center;
    }
  }
}
