@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

body,
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

// .bg {
//   background-image: url('/background.jpg');
//   height: 100%;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

//navbar

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-li {
  float: left;
  border-radius: 5em;
  .nav-link {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
  }
  .nav-link:hover {
    background-color: #ecaa76;
    border-radius: 0.2em;
    opacity: 0.8;
  }
}

//calendar
.calendar-container {
  font-size: 14px;
}

h2 {
  color: #e2703e;
}

.calendar {
  margin: 3em 10em;
  max-width: 900px;
}

.fc-content {
  text-align: left;
  font-size: 10px;
  padding: 2px;
}

//All Plant Table
.all-plant-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 14px;
  color: #333;

  .all-plant-row {
    border-bottom: 1px solid rgb(192, 191, 191);
    &:last-child {
      border-bottom: none;
    }
  }

  .all-plant-head {
    font-weight: bold;
    padding: 15px;
    &:first-child {
      text-align: left;
    }
  }

  .all-plant-data {
    width: auto;
    padding: 15px;
    &:nth-child(2) {
      text-align: center;
    }
  }
}
